.Portfolio {
  display: flex;
  flex-direction: row;
  column-gap: 2vmax;

  position: relative;
  top: 150px;
  left: 125px;

  max-width: 600px;
  margin: auto;
}

.Portfolio-item {
  display: flex;
  flex-direction: column;

  max-width: 200px;
  margin:auto;

  width: 33%;
  height: calc(4vmin + 1rem);
  border: 2px solid #BECBC0;
}

.Portfolio-item-text {
  max-width: 150px;
  margin: auto;

  padding: 1vmin 3vmax 1vmin 3vmax;

  text-decoration: none;
  color: inherit;
}